
.fund-creation-view {
	display: block;
	overflow: auto;
	max-width: 700px;
	padding: 10px 0px;
	margin: 0 auto;

	.fund-creation-status {
		margin-top: 20px;
		text-align: center;
		.fund-id {
			color: $color_3;
		}
	}
}

.fund-dashboard-view {

	.fundraising-percent-graph {
		display: block;
		width: 100%;
		height: 200px;
		background-color: #999;
		text-align: center;
		padding: 80px;
	}

	.fund-basics {
		min-height: 500px;
		text-align: center;
		background-color: $color_1;
		padding-top: 20px;

		.fund-description {
			margin-top: 20px;
			text-align: left;
		}

    .btn.seal-fund {
      margin: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }
	}
	.offer-contribution {
		min-height: 500px;
		text-align: center;
		background: yellow;
	}

  .contribution-list-wrapper {
    border: 1px solid black;
    .contributions-list {
      .contribution {
        .edit-button {
          cursor: pointer;
          text-decoration: none;
          &:hover {
            color: red;
          }
        }
      }
    }
  }

}

.contribution-creation-view {
	@extend .fund-creation-view;
}

.fund-tuner-view {
	display: block;
	overflow: auto;
	width: 100%;
	max-width: 1000px;
	padding: 10px;
	margin: 10px auto;
	background-color: $color_1;
	min-height: 400px;

	.data-visualizations {
		width: 100%;
		margin-bottom: 10px;

		.data-visualization {
			display: block;
			width: 31.33%;
			height: 250px;
			margin-left: 3%;
			border: 1px solid black;
			float: left;
			overflow: auto;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.tuners-area {
		width: 100%;
		height: 300px;
		background-color: $color_2;
	}
}

@import "graph.repayment.plan.scss";
