
.graph-repayment-plan-view {
  background-color: brown;

  .chart {
    width: 50%;
    min-height: 400px;
    background-color: white;
    float: left;

    .bar {
      background-color: blue;
      color: white;
      margin: 4px;
      width: 20px;
      float: left;

      .bar-section {
        float: left;
        min-height: 10px;
        width: 100%;
        float: left;

        &.one { background-color: red; }
        &.two { background-color: yellow; }
        &.three { background-color: green; }
        &.four { background-color: #ccffcc; }
      }
    }
  }
}
