
// Ghost Effect
.ghost {

	opacity: 0;
	height: 0;
	transform: translate3d(0px, 10px, 0px);
	transition: opacity 500ms linear, transform 500ms linear;

	&.appeared {
		opacity: 1;
		transform: translate3d(0,0,0);
		height: auto;
	}
}
