

// application-level parameters.
$ApplicationNavigationHeight: 70px;

#EndPlutus {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: $color_5;

	#ApplicationHeader {
		width: 100%;
		height: $ApplicationNavigationHeight;
		background-color: $color_2;
	}
	#ApplicationBody {
		width: 100%;
		//margin-top: $ApplicationNavigationHeight;
	}
}

// Some application-wide classes.
.horizontal-section {
	width: 100%;
	//padding: 0 20px;
  min-height: 500px;
  text-align: center;
	.section-title {
		text-align: center;
	}
}
