
// Apply a natural box layout model to all elements.
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// Ensure parent elements contain their children.
html, body, form, div, section, article, ul {
	overflow: auto;
}

// Ensure buttons don't have funky ass shadows.
button, input[type="button"] {
	outline: none;
}

textarea {
	max-width: 100%;
}


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

// Include color scheme(s).
@import "color_schemes/Chlorophyll";

// Include effect(s).
@import "effects/ghost";

// Include all additional stylesheets.
@import "end-plutus";
@import "../modules/welcome/styles/welcome.scss";
@import "../modules/fund/styles/fund.scss";
@import "../modules/user/styles/user.scss";
