
.welcome-view {
	.horizontal-section {
		min-height: 500px;

		&.welcome {
			//background-color: $color_1;
			text-align: center;
			.create-button {
				margin-top: 100px;
				outline: none;
			}
		}
	}
}
