
<div class="welcome-view">
    <section class="horizontal-section welcome">
    	<h1 class="section-title">Welcome to End Plutus</h1>
    	<a href="/#/create-fund" class="create-button btn btn-warning btn-lg">Create a Fund</a>
    </section>
</div>
