<div class="modal-dialog">
    <div class="modal-content">
    	<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="myModalLabel">Signup Or Login</h4>
    	</div>
    	<div class="modal-body">
    	<form role="form">
    		<div class="form-group">
    			<label for="FullName">Full Name</label>
    			<input type="text" class="form-control" id="FullName" placeholder="John Doe">
    		</div>
    		<div class="form-group">
    			<label for="Email">Email Address</label>
    			<input value="{{user.email}}" type="email" class="form-control" id="Email" placeholder="you@somewhere.com">
    		</div>
    		<div class="form-group">
    			<label for="Password">Password</label>
    			<input value="{{user.password}}" type="password" class="form-control" id="Password" placeholder="secret">
    		</div>
    	</form>
    	</div>
    	<div class="modal-footer">
    		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    		<button type="button" class="btn btn-primary" on-tap="login">Login</button>
    		<button type="button" class="btn btn-primary" on-tap="signup">Signup</button>
    	</div>
    </div>
</div>
