
<div class="user-preview-view">
    {{#user.id}}
        <span>{{user.email}}</span>
        <button class="btn btn-success" on-tap="logout">Logout</button>
    {{/user.id}}
    {{^user.id}}
        <button class="btn btn-success" on-tap="login">Login</button>
        <button class="btn btn-success" on-tap="signup">Signup</button>
    {{/user.id}}
</div>
