
<div class="contribution-creation-view">
    <div>
        <span>Total Interest: {{ Numeral(contribution.totalInterest).format('$0,0.00') }}</span>
        <br><br>
        <span>Total Cost: {{ Numeral(contribution.totalCost).format('$0,0.00') }}</span>
        <br><br>
        <span>Cost Per Dollar: {{ Numeral(contribution.costPerDollar).format('$0,0.0000') }}</span>
        <br><br>
        <span>Number of Payments: {{contribution.numberOfPayments}}</span>
        <br><br>
        <span>Payment Amount: {{ Numeral(contribution.paymentAmount).format('$0,0.00') }}</span>
        <br><br>
        <hr style="color: black;">
    </div>

    <form role="form">

    	<div class="form-group">
    		<label for="ContributionAmount">
                How much do you want to contribute? (you can change this later)
            </label>
    		<div class="input-group">
    			<span class="input-group-addon">$</span>
    			<input  type="number" class="form-control"
                        id="ContributionAmount" placeholder="3500"
                        min="0" step="1" value="{{contribution.amount}}">
    			<span class="input-group-addon">.00</span>
    		</div>
    	</div>

    	<div class="form-group">
    		<label for="InterestRate">
                What interest rate are you offering this contribution at? (again, you can change this later)
            </label>
    		<div class="input-group">
    			<input  type="number" class="form-control"
                        id="InterestRate" placeholder="2.75"
                        min="0" step=".05" value="{{interestRate}}">
    			<span class="input-group-addon">%</span>
    		</div>
    	</div>

    	<div class="form-group">
    		<label for="RepaymentStart">Repayment Begin Date</label>
    		<input  type="date" class="form-control" id="RepaymentStart"
                    value="{{contribution.repaymentStart}}">
    	</div>

    	<div class="form-group">
    		<label for="RepaymentEnd">Repayment End Date</label>
    		<input  type="date" class="form-control" id="RepaymentEnd"
                    value="{{contribution.repaymentEnd}}">
    	</div>

    	<button type="button" class="btn btn-default pull-right" on-tap="makeOffer">Make Offer</button>

    </form>
</div>
