
<div class="fund-dashboard-view">
    <section class="fund-basics horizontal-section">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-4 contribution-list-wrapper">
                    <h2>Contributions</h2>
                    <ul class="contributions-list">
                    {{#fund.contributions:i}}
                        <li class="contribution">
                            <input  type="checkbox" id="IsAccepted"
                                    value="{{.isAccepted}}" disabled="{{!isFundOwner}}"
                            ><span>Is Accepted</span>
                            <span>id: {{.id}}</span>
                            <span>amount: {{.amount}}</span>
                            <span>rate: {{.interestRate}}</span>
                            <a href="/#/fund/{{fund.id}}/contribution/{{.id}}" class="glyphicon glyphicon-cog edit-button"></a>
                        </li>
                    {{/fund.contributions}}
                    </ul>
    			</div>
    			<div class="col-md-8">
    				<h1 class="fund-name">{{ fund.fundName }}</h1>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<p class="fund-description">{{ fund.description }}</p>
                    <p class="fund-goal">{{ Numeral(fund.fundingGoal).format('$0,0.00') }}</p>
    			</div>
    		</div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <hr>
                    <span>Total Cost: {{ Numeral(fund.totalCost).format('$0,0.00') }}</span><br>
                    <span>Average Interest Rate: {{ Numeral(fund.averageInterestRate).format('0.000%') }}</span><br>
                    <span>Funded Amount: {{ Numeral(fund.fundedAmount).format('$0,0.00') }}</span><br>
                    <span>Cost Per Dollar: {{ Numeral(fund.costPerDollar).format('$0,0.000000') }}</span>
                </div>
            </div>
            {{# isFundOwner }}
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary seal-fund" on-tap="sealFund">
                        {{ (fund.isSealed) ? 'Un-Seal Fund' : 'Seal Fund' }}
                    </button>
                </div>
            </div>
            {{/ isFundOwner }}
    	</div>
    </section>
    <section class="offer-contribution horizontal-section">
    	<h1>Contribution {{expandedContribution.id}}</h1>
    	<div class="container-fluid">
    		<div class="row">
                <div class="contribution-details-region"></div>
    		</div>
    	</div>
    </section>
    <section class="repayment-plan horizontal-section">
        <h1>Repayment Plan</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="repayment-plan-region col-md-12">
                </div>
            </div>
        </div>
    </section>
</div>
