
<div class="fund-creation-view">
    <span>fundId: {{fund.id}}</span>
    <form role="form">

    	<div class="form-group">
    		<label for="FundName">Fund Name</label>
    		<input type="text" class="form-control" id="FundName" placeholder="Brandon's College Fund" value="{{fund.fundName}}">
    	</div>
    	<div class="form-group">
    		<label for="Description">Description</label>
    		<textarea class="form-control" id="Description" value="{{fund.description}}" placeholder="Explain what it is that you're raising funds for. People aren't going to help you out if they don't believe in your cause."></textarea>
    	</div>
    	<div class="form-group">
    		<label for="FundingGoal">Funding Goal</label>
    		<div class="input-group">
    			<span class="input-group-addon">$</span>
    			<input type="number" class="form-control" id="FundingGoal" placeholder="3500" min="0" step="1" value="{{fund.fundingGoal}}">
    			<span class="input-group-addon">.00</span>
    		</div>
    	</div>
    	<div class="form-group">
    		<label for="FundraisingDeadline">Fundraising Deadline</label>
    		<input type="date" class="form-control" id="FundraisingDeadline" value="{{fund.fundraisingDeadline}}">
    	</div>
    	<button type="button" id="AdvanceButton" class="btn btn-default pull-right" on-tap="create">{{ error ? 'Try again' : 'Create'}}</button>
    </form>

    <div class="fund-creation-status lead ghost {{ (fund.id || error) ? 'appeared' : '' }}">
        {{^error}}
        <p>Congratulations on your fund! Your Fund ID is <a href="/#/fund/{{fund.id}}">{{fund.id}}</a></p>
        {{/error}}
        {{#error}}
        <p>Something unexpected has occured :-/  Here's the word... {{error}}</p>
        {{/error}}
        </p>
    </div>
</div>


